In [8]:
# Retail Data Cleaning Notebook

import pandas as pd

sales = pd.read_csv("retail_sales.csv")
stores = pd.read_csv("stores.csv")
products = pd.read_csv("products.csv")

df = sales.merge(stores, on="store_id", how="left") \
          .merge(products, on="product_id", how="left")

df.head()

,date,store_id,product_id,units_sold,revenue,store_name,city,product_name,category
0,2023-01-01,S1,P1,120,24000,Central Mall Store,Mumbai,Smartphone,Electronics
1,2023-01-02,S1,P2,80,16000,Central Mall Store,Mumbai,Headphones,Accessories
2,2023-01-03,S2,P1,90,18000,City Center Store,Delhi,Smartphone,Electronics
3,2023-01-04,S2,P3,60,30000,City Center Store,Delhi,Laptop,Electronics
4,2023-01-05,S3,P2,110,22000,Metro Plaza Store,Bangalore,Headphones,Accessories

In [4]:
df['date'] = pd.to_datetime(df['date'])
df = df.sort_values('date')

df.isnull().sum()

date            0
store_id        0
product_id      0
units_sold      0
revenue         0
store_name      0
city            0
product_name    0
category        0
dtype: int64

In [7]:
df = df.sort_values('date')

In [6]:
df.to_csv("cleaned_retail_data.csv", index=False)